---
Language: Cpp
Standard: c++17
BasedOnStyle: Google
ColumnLimit: 120
AccessModifierOffset: -4
IndentWidth: 4
SortIncludes: true
UseTab: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlignEscapedNewlinesLeft: false

